*
{
  margin:0;
  padding: 0;
  text-decoration: none !important
}

body
{
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*-----------Navbar------------*/

#nav-bar
{
  position: sticky;
  top:0;
  z-index:10;
}

.navbar
{
  background-color:#fff;
}
.navbar-brand img
{
  height:50px;
  padding-left: 20px;
}

#admin-btn
{
  margin-right: 3%;
}



.btnout{
    color:#48545b;
    background-color:#f8f9fa;
    border-color:#f8f9fa
}

.fa-sign-out-alt:before{
  margin-right: 7px;
  color:#c43826
}
.fa-user1:before {
    content: "\f007";
    margin-right: 7px;
    color: #c43826;
}
.fa-sign-in-alt:before {
    content: "\f2f6";
    margin-right: 7px;
    color:#c43826
}

.fa-user-plus:before {
    margin-right: 7px;
    color:#c43826
}
.btnlog
{
  color:#48545b
}


/*-----------WelcomeLogin------------*/

#banner
{
  background-color:#f0f3f3;
  color:#48545b;
  padding-top:3%
}
.banner-tittle
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 92px;
  color:#273338;
}
.welcome-btn
{
  width: 45px;
  margin: 20px;
}

#banner a
{
  color: #c31900;
}


/*-----------BannerLogin------------*/

#banner_white
{
  background-color: #fff;
  color:#fff;
  padding-top:5%;
  padding-bottom:5%;
}

.form
{
  background-color: #1e5dac;
  position: center;
}
.lupa
{
  align-items: center;
}

.centerText
{
text-align: center
}
.table a
{
  color:#285078
}

.box_container
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%
}

.title
{
  font-size: 3.5rem;
  font-weight: 300;
}

.card-title
{
  color:#48545b;
}

.subtitle
{
  font-size: 1.2rem;
  font-weight: 300;
  color:#48545b;
}

.logform
{
  margin-top: 54px;
}

.allform
{
  margin-top: 30px;
}

.button1
{
  background-color: #de4242;
  border-color: #de4242;
}

.icon1
{
  background-color: #dee5f0;
  border-color: #dee5f0;
}

.border1
{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.log
{
  color:#9bb4be;
}

/*-----------AdminLandingCards------------*/

.box_container2
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  padding:25px;
}
.box_container5
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  padding:10px;
}

.category_title
{
  color: #285078;
  font-size: 2.00rem;
}

.category_button
{
  background-color:#9bb4be;
  color:white;
  font-size: 1.4rem;
}

.category_text
{
  color:#717579;
}

.backgroundbanner
{
  background-image: linear-gradient(to right,#f0f3f3, #ffffff);
}

.banner-title2
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 37px;
  color:#48545b;
  padding-left: 15px;
}

.banner-subtitle2
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color:#48545b;
  padding-left: 15px;
}

/*-----------Tables------------*/

.table1
{
  color: white;
  background-color: #48545b;
}

.ancho
{
width: 94% !important
}

.margen
{
  margin-bottom:15px !important
}

.titleSection
{
  color:#48545b
}

.taskColor
{
  color: #285078
}

.searchColor
{
  color:#c43826
}


/*-----------Collapse------------*/

.collapseLogo
{
  color:#c31900
}
 .collapseTitle
 {
   color:#48545b
 }
 .collapseTitleBackground
 {
   color:#f0f3f3
 }

/*-----------Dashboard------------*/

.HeaderCard
{

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  color:#fff;
  padding: 3%;
}

.bodyCard
{
  background-color: #F0F3F3;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color:#48545B;
  padding:3%;
}

.bodyCardTitle
{
  padding-left: 14%;
}
.fa-ban:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}
.fa-calendar-times:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}

.fa-clock:before {
    position:center;
    color:#ffffff;
    font-size: 3rem;
    padding:2%
}

.fa-list-ul:before {
    position:center;
    font-size: 3rem;
    padding:2%;
    color:#fff;
}

/* Color Theme Swatches in Hex */

/*rojo endava*/
.EndavaDash3-1-hex { background-color: #C31900; }
/*coral endava*/
.EndavaDash3-2-hex { color: #EC6861; }
/*gris claro*/
.EndavaDash3-3-hex { color: #F0F3F3; }
/*gris azulado claro*/
.EndavaDash3-4-hex { color: #9BB4BE; }
/*gris oscuro*/
.EndavaDash3-5-hex { background-color: #48545B; }
/*azul oscuro*/
.EndavaDash3-6-hex { background-color: #285078; }
/*azul claro*/
.EndavaDash3-7-hex { background-color: #379bd7; }
/*celeste*/
.EndavaDash3-8-hex { background-color: #0ac3e5; }
/*bordo*/
.EndavaDash3-9-hex { background-color: #690505; }


/* Color Theme Swatches in Hex */
.EndavaDash2-1-hex { color: #D93A2B; }
.EndavaDash2-2-hex { color: #F26F63; }
/*gris blanco*/
.EndavaDash2-3-hex { color: #F2F2F2; }
/*gris claro*/
.EndavaDash2-4-hex { background-color: #abb2b6 }
/*gris oscuro*/
.EndavaDash2-5-hex { color: #404040; }
/*gris medio tarjetas*/
.EndavaDash2-6-hex { color: #abb2b6; }




.colorW
{
  color:#fff
}

.redHead
{
  background-color:#cc0000;
}

.orangeHead
{
  background-color:#ff8800
}

.greenHead
{
  background-color:#007e33
}

.blueHead
{
  background-color:#0099cc
}

.bodyCardGraphic
{
  background-color: #F0F3F3;
  color:#48545B;

}

.box_container3
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  max-width: 700px;
  max-width: 100%;
  padding:5px;
}
.bodyCard2
{
  background-color: #F0F3F3;
  overflow: hidden;
}

.progress
{
  margin:1%
}

.box_container4
{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  overflow: hidden;
  width: 1359px;
  max-width: 100%;
  padding:25px;
}

#dashTable a
{
  color: #48525b;
}


.fa-user-lock:before {
    position:center;
    color:#cc0000;
}

.fa-hourglass-end:before {
    position:center;
    color:#EC6861;
}

.fa-stopwatch:before {
    position:center;
    color:#9BB4BE;
}


/*-----------Sidebar------------*/

.sidebar-brand img
{
  height:70px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #48545B;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #f0f3f3;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #233237;
}

.wrapper .sidebar ul li:hover a{
  color: #f0f3f3;
}


.social_media{
  display: flex;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}


/*----------COLLLAPSE -Sidebar ------------*/

.linkInternos{
  margin: 20px 20px
}

.imgLinkSection{
padding-right: 2%;
}

.linkSection{
  color: white;
  padding: 0%;

}
.linkSection:hover{
  color: white;
}
/*-----------Dashboard y Sidebar Container------------*/


.parent {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1
{
  grid-area: 1 / 1 / 2 / 3;
}

.div2
{
  grid-area: 1 / 3 / 2 / 13;
  margin-right: 3%
}


.parentGraph {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top:20px;
}

.div1Graph { grid-area: 1 / 1 / 2 / 7; }
.div2Graph { grid-area: 1 / 7 / 2 / 13; }
.div3Graph { grid-area: 2 / 1 / 3 / 7; }
.div4Graph { grid-area: 2 / 7 / 3 / 13; }
.div5Graph { grid-area: 1 / 1 / 2 / 13; }


.parentDash {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top:20px;
}

.div1Dash { grid-area: 1 / 1 / 2 / 4; }
.div2Dash { grid-area: 1 / 4 / 2 / 7; }
.div3Dash { grid-area: 1 / 7 / 2 / 10; }
.div4Dash { grid-area: 1 / 10 / 2 / 13; }


.parentDashRow {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top:20px;
}

.div1DashRow { grid-area: 1 / 1 / 2 / 13; }


.parentProgress {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
margin-top:20px;
}

.div1Progress { grid-area: 1 / 1 / 2 / 13; }

/*-----------Users y Sidebar Container------------*/

.parentUsers {
  display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  }

  .div1Users { grid-area: 2 / 2 / 12 / 12; }


  /*-----------AdminLandingCards------------*/
  .welcome
  {
  color: #fff;
  font-weight: 300;
  margin-bottom: 10%;
  }
  .referencia
  {
    font-weight: 400;
  }
  
  .taskTitle
  {
    text-align: left;
    font-size: 38px;
    font-weight:300;
    color:#48545B;
  }
  
  .fa-info-circle:before {
    content: "\f05a";
    margin-right: 18px;
    color: #285078;
  }
  
  .cardTitle5
  {
  color:#48545B;
  font-weight:400;
  }
  .box_container4
  {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    position:relative;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    padding:25px;
  }

  .category_title2
  {
    color: #48545b;
    font-size: 1rem;
    text-weight:400;
    text-align: center;
  }


  .category_text
  {
    color:#717579;
  }

  .backgroundbanner2
  {
    background-color:#fff;
    padding-top:4rem!important
  }

  .banner-title4
  {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 37px;
    color:#48545b;
    padding-left: 15px;
    text-align: center;
  }

  .banner-subtitle4
  {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color:#48545b;
    padding-left: 15px;
    text-align: center;
  }

  .noPadding
  {
    padding-left: 0 !important;
    padding-right: 0!important
  }

/*-----------Footer------------*/
.btn-circle {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
      border-color:#fff;
      background-color:#fff;

}

#footer
{
background-color:#f0f3f3;
margin-top:10px
}

#footer a
{
  text-decoration: none;
  color:#285078
}

.fot
{
color:#48545b
}

.card-title3
{
  margin-bottom: 2%;
  font-weight: 400;
  color:#48545b;
}

.subtitle4
{
    font-size: 1rem;
    font-weight: 300;
    color: #48545b;
}

.largeModal
{
  width: 100%;
}

.componentTitle 
{
  font-size:2.5rem!important;
  color:#48545b!important;
  text-align:center!important;
  text-transform:uppercase!important;
  font-weight: 400!important;
}

.fa-circle:before
{
  text-shadow: 0 0 3px #48545B;
}

.fa-arrow-alt-circle-down:before {
  margin-left: 7px;
}

.fa-arrow-alt-circle-up:before {
  margin-left: 7px;
}

.fa-user-edit:before {
  color:#48545B!important
}

.fa-plus:before {
  color:#48545B!important
}

.fa-trash:before {
  color:#c31900!important
}

